<!-- templates/home.html -->
<!--
<h1>Home Page</h1>

<form action="{% url 'search_results' %}" method="get">
    <input name="q" type="text" placeholder="Search...">
</form>
-->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Emissions Search</title>
		{% load static %}
		<link rel="stylesheet" href="{% static 'home.css'%}" />
	</head>
	<body>
		<div class="title">
			<h1>#sustainiabiltiy</h1>
		</div>

		<!-- <div class="searchBox">
			<form
				class="searchInput"
				action="{% url 'search_results' %}"
				method="get"
			>
				<input name="q" type="text" placeholder="Search..." />
			</form>
		</div> -->

		<div class="container">
			<form action="{% url 'search_results' %}" method="get">
				<input name="q" type="text" placeholder="Search..." />
				<div class="search"></div>
			</form>
		</div>

		<form method="post" enctype="multipart/form-data">
			{% csrf_token %} {{ form.as_p }}
			<button type="submit">Upload</button>
		</form>

		{% if img_obj %}
		<h3>Succesfully uploaded : </h3>
		<img src="{{ img_obj.image.url}}" alt="connect" style="max-height: 300px" />
		{% endif %}



	</body>
</html>
